@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300,700);

.CanvasContainer {
  clear: both;
}

canvas {
  border: 3px solid #000000;
}

#savedCopyContainer {
  display: none;
}

#savedCopyContainer img {
  width: 250px;
  height: 150px;
}
.menu,
.color, 
select {
  cursor: pointer;
}
body {
  margin: 0;
}
h1 {
  font-family: cursive;
  font-size: 45px;
  color: #00eaff;
  letter-spacing: 0.2em;
  text-shadow: -1px -1px rgb(41, 41, 41), 1px 1px gray, 1.3px 1.3px #6e6e6e,
    1.6px 1.6px #727272, 1.9px 1.9px #686767, 2.2px 2.2px #616161,
    2.5px 2.5px #616161, 2.8px 2.8px #616161, 3.1px 3.1px #616161,
    3.4px 3.4px #616161, 3.7px 3.7px #616161;
}

label {
  font-size: 20px;
  font-family: cursive;
  color: #b3acaa;
}
body.is-froze {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
* шаблон для меню навигации */ body.is-froze {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.part1 {
  flex-basis: 45%;
  margin-left: 40px;
  height: 100hv;
}
.part2 {
  flex-basis: 45%;
  margin-top: 30px;
  margin-left: 40px;
  height: 100hv;
}

input,
textarea,
select {
  border-radius: 6px;
  font-size: 15px;
  background-color: #ebebebb9;  
}
#output {
  border: 3px solid #0fe0f5 ;
  width: 250px;
  color:rgb(201, 201, 201);
  font-size: 20px;
  font-family: cursive,'Courier New', Courier, monospace;
  margin:auto;
  margin-top: 80px;
  padding: 10px;
}
.mainPart {
  margin-left: 60px;
  min-height: 750px;
  width: calc(100% - 60px);
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  position: absolute;
  height: 100%;
  background: linear-gradient(40deg, #000000, #8d7b94);
  transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* will-change: width, height, opacity, transform; */
  z-index: 1;
}
.mainPart.is-active {
  overflow: hidden;
  height: 100%;
  width: 100%;
  width: calc(100vw - 50px);
  opacity: 0.25;
  transform: scale(0.9) translate3d(60%, 0, 0);
}
@media (min-width: 600px) {
  .mainPart.is-active {
    transform: scale(0.9) translate3d(40%, 0, 0);
  }
}

#pic_cntr{
  display: none;
}
#drawingCanvas{
  height: 500px;
  width: 500px
}

#canvas{
  display: none;
}