h1 {
  align-self: center;
  font-size: 45px;
  font-family: cursive;
  color: #d1795e;
  letter-spacing: 0.2em;
  text-shadow: -1px -1px white, 1px 1px gray, 1.5px 1.5px #7a7a7a,
    2px 2px #757575, 2.5px 2.5px #707070, 3px 3px #6b6b6b, 3.5px 3.5px #666666,
    4px 4px #757575, 4.5px 4.5px #707070, 5px 5px #6b6b6b, 5.5px 5.5px #666666;
}

h1:hover {
  color: #d49e75;
}

body {
  background-image: url("background.jpg");
}

div {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
ol {
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(69, 68, 68);
}
a:hover{
  color: #d1795e;
}
a:active {
  color: #722b15; /* Цвет активной ссылки */ 
 } 
.list-counter-circle {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list-counter-circle > li {
  font-family: monospace;
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 1.75rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background: #E0CFB1;
  white-space: nowrap;
  border-radius: 0.25rem;
}
.list-counter-circle > li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: -0.25rem;
  bottom: -0.25rem;
  width: 2.5rem;
  line-height: 2rem;
  border-radius: 1.25rem;
  border: 0.25rem solid #fff;
  text-align: center;
  color: #fff;
  background: #A38068;
}
