@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300,700);

input, textarea, select, option{
  border-radius:8px;
  background-color: #ebebebb9;
}

.part3{
  margin-left: auto;
  margin-right: auto;
}

/* .part1 {
  flex-basis: 47%;
  margin-left: 50px;
}
.part2{
  flex-basis: 40%;
  margin-top: 75px;
  margin-left: 50px;

} */

#treeID,
#treeID ul,
#treeID li {
  list-style: none;
  padding: 0;
  position: relative;
  z-index: 99;
}

#treeID {
  margin: 0 0 1em;
  text-align: center;
}

#treeID,
#treeID ul {
  display: table;
}

#treeID ul {
  width: 100%;
}

#treeID li {
  display: table-cell;
  padding: 0.5em 0;
  vertical-align: top;
}

#treeID li:before {
  outline: solid 1px rgb(0, 0, 0);
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#treeID li:first-child:before {
  left: 50%;
}

#treeID li:last-child:before {
  right: 50%;
}

#treeID code,
#treeID span {
  border: solid 0.1em rgb(0, 0, 0);
  border-radius: 0.2em;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  padding: 0.2em 0.5em;
  background-color: #ebebebb9;
  position: relative;
}

#treeID ul:before,
#treeID code:before,
#treeID span:before {
  outline: solid 1px rgb(0, 0, 0);
  content: "";
  height: 0.5em;
  left: 50%;
  position: absolute;
}

#treeID ul:before {
  top: -0.5em;
}

#treeID code:before,
#treeID span:before {
  top: -0.55em;
}

#treeID > li {
  margin-top: 0;
}

#treeID > li:before,
#treeID > li:after,
#treeID > li > code:before,
#treeID > li > span:before {
  outline: none;

}




body{
  margin:0;
}
h1 {
  font-family: cursive;
  font-size: 45px;
  color:#00eaff;
  letter-spacing: 0.2em;
  text-shadow: -1px -1px rgb(41, 41, 41), 1px 1px gray, 1.3px 1.3px #6e6e6e,
    1.6px 1.6px #727272, 1.9px 1.9px #686767, 2.2px 2.2px #616161, 2.5px 2.5px #616161,
    2.8px 2.8px #616161, 3.1px 3.1px #616161, 3.4px 3.4px #616161, 3.7px 3.7px #616161;
}
.text {
  font-size: 20px;
  font-family: cursive;
  color: #b3acaa;
}
body.is-froze {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.mainPart {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: calc(100% - 70px);
  margin-left: 58px;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(40deg, #000000, #8d7b94);
  transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 1;
}
.mainPart.is-active {
  overflow: hidden;
  height: 100%;
  width: 100%;
  width: calc(100vw - 50px);
  opacity: 0.25;
  transform: scale(0.9) translate3d(60%, 0, 0);
}
@media (min-width: 600px) {
  .mainPart.is-active {
    transform: scale(0.9) translate3d(40%, 0, 0);
  }
}
.mainPart.is-transition-out {
  clip-path: inset(0 0 0 100%);
}
.part1 {
  margin-left: 70px;
  text-align: center;
  flex-basis: 47%;
}
.part2{
  text-align: center;
  flex-basis: 47%;
  margin-top: 70px;
}

.nav__bar {
  position: fixed;
  width: 60px;
  height: 100%;
  border-right: 1px solid rgba(125, 135, 168, 0.25);
  background-color: #191b22;
  z-index: 99;
}
.nav__trigger {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  padding: 8px 0;
  margin-top: -20px;
  transition: 0.2s ease-in-out;
  z-index: 99;
}
.nav__trigger .bars {
  position: relative;
}
.nav__trigger .bars,
.nav__trigger .bars:before,
.nav__trigger .bars:after {
  width: 28px;
  height: 4px;
  background-color: #7d87a8;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
}
.nav__trigger .bars:before,
.nav__trigger .bars:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.nav__trigger .bars:before {
  transform: translateY(-8px);
}
.nav__trigger .bars:after {
  transform: translateY(8px);
}
.nav__trigger.is-active {
  transform: rotate(-45deg);
}
.nav__trigger.is-active .bars:before,
.nav__trigger.is-active .bars:after {
  transform: translateX(0) rotate(-90deg);
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #191b22;
  z-index: 0;
}
.nav__list {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  padding-left: 60px;
  list-style: none;
  font-family: "Raleway", "Open Sans", sans-serif;
  transform: translateY(-50%);
}
.nav__list .nav__item {
  padding: 0.5rem 1rem;
}
@media (min-width: 600px) {
  .nav__list .nav__item {
    width: 33.3333333333%;
    padding: 0.5rem 1rem;
  }
}
.nav__list a {
  text-decoration: none;
  /* display: inline-block; */
  color: #7d87a8;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
}
.nav__list a::before,
.nav__list a::after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
    left: -4px;
    top: 0;
    width: calc(100% + 8px);
    height: 100%;
    border-style: solid;
    border-color: #337AB7;
    box-sizing: border-box;
}
.nav__list a::before {
    border-width: 1px 0 1px 0;
    transform: scaleX(0);
}
.nav__list a::after {
    border-width: 0 1px 0 1px;
    transform: scaleY(0);
}
.nav__list a:hover::before,
.nav__list a:hover::after {
    transform: scale(1, 1);
}
.nav__list a:hover {
  text-decoration: none;
  color: #b1b7cb;
}
.nav__list a.is-active {
  text-decoration: none;
  color: #d2d5e1;
}
@media (min-width: 600px) {
  .nav__list a {
    font-size: 1.5rem;
  }
}

/*          шаблон для кнопок           */
.buttons {
  margin-top: 20px;
  text-align: center;
}
.blob-btn {
  z-index: 1;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 30px;
  margin-left: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #0fe0f5;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
}
.blob-btn:before {
  box-sizing: border-box;
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid #0fe0f5;
}
.blob-btn:after {
  box-sizing: border-box;
  content: "";
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  border: 6px solid rgba(156, 156, 156, 0.288);
  transition: all 0.3s 0.2s;
}
.blob-btn:hover {
  color: rgb(117, 117, 117);
}
.blob-btn:hover:after {
  box-sizing: border-box;
  transition: all 0.3s;
  left: 0;
  top: 0;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
}
.blob-btn__blob {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: #0fe0f5;
  border-radius: 100%;
  transform: translate3d(0, 300%, 0) scale(3);
  transition: transform 0.45s;
}
@supports (filter: url('#goo')) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url('#goo')) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
  }
}

.bluecolor{
  background-color: #0fe0f5;
}
.graycolor{
  background-color: #ebebebb9;
}