* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d6d6;
    background-image: url("background.jpg");
}

#window {
    border: 15px solid black;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

#options {
    margin-left: 80px;
    margin-top: 250px;
    position: absolute;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: -80px;
}

#add, #del, #delAll, #algorithm {
    width: 150px;
}
#add:hover, #del:hover, #delAll:hover, #algorithm:hover {
    background-color: black;
    color: white;
}


.node {
    display: inline-block;
    border: 3px solid black;
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}