* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d6d6;
    background-image: url("background.jpg");
}

#window {
    border: 15px solid black;
    width: 50%;
    height: 530px;
    display: inline-block;
    padding: 0;
    margin-left: 24%;
    margin-top: 90px;
    position: relative;
}

#options {
    margin-left: 26%;
    margin-top: 670px;
    word-spacing: 2.5em;
    position: absolute;
}

#text {
    text-decoration:none; text-align:center; 
    font:13px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#5f3528; 
}

#pointsCounter {
    margin-left: 4%;
    margin-top: 19%;
    position: absolute;
}

#counterWindow, #distWindow {
    text-decoration:none; text-align:center; 
    font:23px Arial, Helvetica, sans-serif; 
    font-weight:bold;  
    width: 220px;
    height: 60px;
}

#minDist {
    margin-left: 81%;
    margin-top: 19%;
    position: absolute;
}

.buttons {
    width: 150px;
    text-decoration:none; text-align:center; 
    padding:4px 12px; 
    border:solid 1px #000000; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:11px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#5f3528; 
    background-color:#e0cfb1; 
    background-image: -moz-linear-gradient(top, #e0cfb1 0%, #d4a960 100%); 
    background-image: -webkit-linear-gradient(top, #e0cfb1 0%, #d4a960 100%); 
    background-image: -o-linear-gradient(top, #e0cfb1 0%, #d4a960 100%); 
    background-image: -ms-linear-gradient(top, #e0cfb1 0% ,#d4a960 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a960', endColorstr='#d4a960',GradientType=0 ); 
    background-image: linear-gradient(top, #e0cfb1 0% ,#d4a960 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

#logo {
    margin-left: 26%;
    margin-top: 5px;
    font-size: 33px;
    font-family: cursive;
    color: #d1795e;
    letter-spacing: 0.2em;
    text-shadow: -1px -1px white, 1px 1px gray, 1.5px 1.5px #7a7a7a,
    2px 2px #757575, 2.5px 2.5px #707070, 3px 3px #6b6b6b, 3.5px 3.5px #666666,
    4px 4px #757575, 4.5px 4.5px #707070, 5px 5px #6b6b6b, 5.5px 5.5px #666666;
    position: absolute;
}

.buttons:hover {
    opacity:0.8; 
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); 
    filter: alpha(opacity=80); 
}


.node {
    display: inline-block;
    border: 3px solid black;
    background-color: black;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}