:root{
  --sizeOfCell:6px;
}
.cell1{
height: var(--sizeOfCell, 6px);
width: var(--sizeOfCell, 6px);
margin:0;
padding:0;
border: 0;
}
#mainField{
  
  border:15px solid black;
  display: inline-block;
  padding: 0;
  height: 700px;
  width:700px;
}
.begin{
  background-color:firebrick;
  }
.end{
      background-color: blue;
}
.wall{
      background-color: black;
}
.notWall{
  background-color: azure;
}
.string{
  display: inline-block;
  line-height: 0;
}
.onHover:hover{
      opacity: 80%;
}
.lineSpace{
      line-height: 0;
  }
h1{
  font-size: 45px;
  font-family: cursive;
  color: #d1795e;
  letter-spacing: 0.2em;
  text-shadow: -1px -1px white, 1px 1px gray, 1.5px 1.5px #7a7a7a,
    2px 2px #757575, 2.5px 2.5px #707070, 3px 3px #6b6b6b, 3.5px 3.5px #666666,
    4px 4px #757575, 4.5px 4.5px #707070, 5px 5px #6b6b6b, 5.5px 5.5px #666666;
}
.text{
  font-size: 20px;
  font-family: cursive;
  color: #5f3528;
}
#launch_maze_creation{text-decoration:none; text-align:center; 
  padding:4px 12px; 
  border:solid 1px #000000; 
  -webkit-border-radius:4px;
  -moz-border-radius:4px; 
  border-radius: 4px; 
  font:11px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#5f3528; 
  background-color:#e0cfb1; 
  background-image: -moz-linear-gradient(top, #e0cfb1 0%, #d4a960 100%); 
  background-image: -webkit-linear-gradient(top, #e0cfb1 0%, #d4a960 100%); 
  background-image: -o-linear-gradient(top, #e0cfb1 0%, #d4a960 100%); 
  background-image: -ms-linear-gradient(top, #e0cfb1 0% ,#d4a960 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a960', endColorstr='#d4a960',GradientType=0 ); 
  background-image: linear-gradient(top, #e0cfb1 0% ,#d4a960 100%);   
  -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
   
}
#launch_maze_creation:hover{
  opacity:0.8; 
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); 
  filter: alpha(opacity=80); 
}
body {
    background-image: url("../background.jpg");
}